
body{
    background-color:#021826;
    color: white;
}

.uegtitle{
    color: white;
    text-align: left;
    font-size: 32px;
    font-family: "UEGfont";
}
/*
.uegearth{
    text-align: left;
    margin-top:0px;
    padding-left:20px;
}
*/
.tuwentonghangbig{
    color: white;
    font-family: "UEGfont";
    font-size:36px;
    margin-top:0px;
    padding-left:40px;      
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #021826;
  }
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* 
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

*/
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.BigFooter{
	height: 450px;
	width: 100%;
	background-color: #021826;
}
 
.BigFooterBase{
	height: 350px;
	width: 1200px;
	margin: 0 auto;
}
 
.BigFooterBaseNav{
	height: 350px;
	width: 1200px;
}
 
.BigFooterBaseNavList{
	height: 350px;
	width: 190px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
 
.BigFooterBaseNavList h4{
	font-size: 15px;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 4px;
}
 
.BigFooterBaseNavList ul{
	list-style: none;
}
 
.BigFooterBaseNavList ul li{
	padding: 6px 0px;
}
 
.BigFooterBaseNavList ul li a{
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
 
.BigFooterBaseNavList ul li a:hover{
	text-decoration: underline;
}
 
.BigFooterBaseButtom{
	width: 100%;
	height: 50px;
	background-color: #021826;
}
 
.BigFooterBaseButtom1{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	color: #021826;
	font-size: 15px;
	line-height: 50px;
}
 
.BigFooterBaseButtom1left{
	width: 30%;
	float: left;
	font-size: 11px;
}
 
.BigFooterBaseButtom1right{
	width: 70%;
	float: left;
	text-align: left;
}
 
.BigFooterBaseButtom1right ul{
	list-style: none;
}
 
.BigFooterBaseButtom1right ul li a{
	color: #ffffff;
	padding-right: 20px;
	font-size: 11px;
	text-decoration: none;
}
 
.BigFooterBaseButtom1right ul li{
	color: #ffffff;
	font-size: 11px;
	float: left;
}
 
.BigFooterBaseButtom1right ul li a:hover {
	text-decoration: underline;
}

.title{
	margin-top:50px;margin-left:10%;margin-bottom:50px;color:#67f2ff;
}

.title h1{
	display:inline;font-size: 30px;
}

.title p{
	font-size:10px;margin-left:45px;
}

.title img{
	margin-right:10px
}

.studio{
    width:80%;
    padding-bottom: 30px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #67f2ff;
    margin-bottom:50px;
}

.letter{
	width:90%;margin:auto;margin-top:30px;
}

.letter h3{
	text-align: right;
}

.letter p{
	color: #ffffff;
}

.member{
	background-color: #f2fefe;padding-bottom: 50px;width:100%;padding-top:20px;
}

.message{
	margin-left:12%;text-align:center;width:17%;display:inline-block;color:#333333;
}

.photo{
	width:170px;height:170px;border-radius: 50%;overflow: hidden;border: 2px solid #78d1ff;margin:auto;
}

.photo img{
	width:170px;height:170px;
}

.message h4{
	font-size: 24px;margin-top:10px;margin-bottom: 15px;
}

.uegot{
	color:#ffffff;
	text-align: left;
}