body{
    background-color:#021826;
    color: white;
}

.uegtitle{
    color: white;
    text-align: left;
    font-size: 32px;
    font-family: "UEGfont";
}

.uegearth{
    text-align: left;
}