<html>
  <head>
    <meta charset="utf-8">
    <h1>流浪地球计划</h1>
    <p>Wandering Earth Project</p>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://mcxgjkh.github.io/UEG/static/css/index.css">
    <script src="https://mcxgjkh.github.io/UEG/static/js/music.js"></script>
  </head>
<body>
    
    <!--导航-->
    <div class="up">
        <a href="https://mcxgjkh.github.io/UEG/index.html">首页</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/chineseearth.html">流浪地球计划</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/join.html">地下城抽签</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/englishearth.html">English</a>
    </div>
    
    <!--UEG介绍-->
    <div class="title">
        <img src="https://mcxgjkh.github.io/UEG/static/images/other1.png">
        <h1>“流浪地球计划”介绍</h1>
        <p>Introduction to the "Wandering Earth Project"</p>
    </div>
    <div class="studio">
        <div class="letter">
            <h2>世界各国的朋友们:</h2>
            <h2>欢迎来到“流浪地球计划”官网！</h2>
            <br>
            <p>这里是由原联合国五常以及世界上的其他23个国家联合创建的“流浪地球计划”官网。</p>
            <p>由于现在太阳的温度空前之高，我们希望让地球逃离太阳系，所以我们启动了“逐月计划”。</p>
            <p>在月表赤道处建立三座月球发动机，驱使月球远离地球，让地球逃离时免受潮汐作用的影响。</p>
            <p>接着，启动“移山计划”，在地球上修建一万两千座行星发动机，驱使地球离开太阳系。</p>
            <p>我们的目标是前往4.2光年外的半人马座α星Cb（比邻星b），两千五百年后，我们的子孙将到达新家园！</p>
            <p>期间，会有100代人生活在路途中，他们会很辛苦，但这是有价值的，愿人类，荣光永存！</p>
            <p>感谢地球联合政府让我们相识，感谢太阳危机让我们互相帮助前行。</p>
            <h3>&copy; UEG流浪地球计划</h3>
        </div>
    </div>
    
    <!--成员介绍-->
    <div class="member">
        <div class="title">
            <img src="https://mcxgjkh.github.io/UEG/static/images/other1.png">
            <h1>UEG成员国介绍</h1>
            <p>Introduction to UEG member states</p>
        </div>
        <div class="message">
            <div class="photo"><img src="https://mcxgjkh.github.io/UEG/static/images/USA.jpg"></div>
            <h4>美国</h4>
            <p>移山计划一号实验（原型）机承建方之一</p>
            <p>“方舟计划”提出方，“领航员”空间站（新方舟）主建方</p>
        </div>
        <div class="message">
            <div class="photo"><img src="https://mcxgjkh.github.io/UEG/static/images/China.png"></div>
            <h4>中国</h4>
            <p>“流浪地球计划”提出方</p>
            <p>“移山计划”（流浪地球主体计划）提出方，主建方</p>
        </div>
        <div class="message">
            <div class="photo"><img src="https://mcxgjkh.github.io/UEG/static/images/Russia.png"></div>
            <h4>俄罗斯</h4>
            <p>移山计划一号实验（原型）机承建方之一</p>
            <p>“逐月计划”提出方，主建逐月计划三座月球发动机</p>
        </div>
    </div>
    
    <!--页脚-->
    <div class="bottom">
        <img src="https://mcxgjkh.github.io/UEG/static/images/bottom.png">
        <p>&copy; UEG流浪地球计划</p>
    </div>
</body>
</html>
