<html>
  <head>
    <meta charset="utf-8">
    <h1>Wandering Earth Project</h1>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://mcxgjkh.github.io/UEG/static/css/index.css">
    <script src="https://mcxgjkh.github.io/UEG/static/js/music.js"></script>
  </head>
<body>
    
    <!--导航-->
    <div class="up">
        <a href="https://mcxgjkh.github.io/UEG/index2.html">Home</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/englishearth.html">Wandering Earth Project</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/join2.html">Dungeon draw</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/chineseearth.html">中文</a>
    </div>
    
    <!--UEG介绍-->
    <div class="title">
        <img src="https://mcxgjkh.github.io/UEG/static/images/other1.png">
        <h1>Introduction to the "Wandering Earth Project"</h1>
    </div>
    <div class="studio">
        <div class="letter">
            <h2>Friends from all over the world:</h2>
            <h2>Welcome to the official website of the "Wandering Earth Project"</h2>
            <br>
            <p>This is the official website of the "Wandering Earth Project" jointly created by the former United Nations permanent five and 23 other countries around the world</p>
            <p>Due to the unprecedented high temperature of the sun, we hope to allow the Earth to escape the solar system, so we have launched the 'Monthly Plan'</p>
            <p>Establish three lunar engines at the equator of the lunar surface to drive the moon away from Earth and protect it from the effects of tides when escaping</p>
            <p>Next, the "Mountain Moving Plan" was launched to build 12000 planetary engines on Earth, driving the Earth away from the solar system</p>
            <p>Our goal is to travel 4.2 light-years away to Centaurus α Star Cb (neighboring star b), in 2500 years, our descendants will arrive at a new home</p>
            <p>During this period, there will be 100 generations living on the road, they will work very hard, but this is valuable. May the glory of humanity endure forever</p>
            <p>Thank you to the Earth coalition government for bringing us together, and thank you to the solar crisis for helping each other move forward</p>
            <h3>&copy; UEG Wandering Earth Project</h3>
        </div>
    </div>
    
    <!--成员介绍-->
    <div class="member">
        <div class="title">
            <img src="https://mcxgjkh.github.io/UEG/static/images/other1.png">
            <h1>Introduction to UEG member states</h1>
        </div>
        <div class="message">
            <div class="photo"><img src="https://mcxgjkh.github.io/UEG/static/images/USA.jpg"></div>
            <h4>America</h4>
            <p>One of the contractors for the first experimental (prototype) machine of the Mountain Moving Project</p>
            <p>The proposer of the "Ark Plan" and the main builder of the "Navigator" space station (new Ark)</p>
        </div>
        <div class="message">
            <div class="photo"><img src="https://mcxgjkh.github.io/UEG/static/images/China.png"></div>
            <h4>China</h4>
            <p>Proposer of the "Wandering Earth Plan"</p>
            <p>The proposer and main builder of the "Mountain Moving Plan" (Wandering Earth Main Plan)</p>
        </div>
        <div class="message">
            <div class="photo"><img src="https://mcxgjkh.github.io/UEG/static/images/Russia.png"></div>
            <h4>Russia</h4>
            <p>One of the contractors for the first experimental (prototype) machine of the Mountain Moving Project</p>
            <p>Proposer of the "Monthly Plan", mainly building three lunar engines for the monthly plan</p>
        </div>
    </div>
    
    <!--页脚-->
    <div class="bottom">
        <img src="https://mcxgjkh.github.io/UEG/static/images/bottom.png">
        <p>&copy; UEG Wandering Earth Project</p>
    </div>
</body>
</html>
