<html lang="en">
<head>
    <meta charset="utf-8">
    <h1>Dungeon draw</h1>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://mcxgjkh.github.io/UEG/static/css/join.css" rel="stylesheet">
</head>
<body>
    <!--导航-->
    <div class="up">
        <a href="https://mcxgjkh.github.io/UEG/index2.html">Home</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/englishearth.html">Wandering Earth Project</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/join2.html">Dungeon draw</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/join.html">中文</a>
    </div>
    
    <img src="https://mcxgjkh.github.io/UEG/static/images/title1.png">

    <form action="/join_form">
        Name：<input name="name">
        <br>
        Age：<input name="age">
        <br>
        Gender：<input type="radio" name="gender" value="male">male
              <input type="radio" name="gender" value="female">female
        <br>
        City：<input name="city">
        <br>
        <button>Application</button>
    </form>

</body>
</html>
