<html lang="en">
<head>
    <meta charset="utf-8">
    <h1>地下城抽签</h1>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://mcxgjkh.github.io/UEG/static/css/join.css" rel="stylesheet">
</head>
<body>
    <!--导航-->
    <div class="up">
        <a href="https://mcxgjkh.github.io/UEG/index.html">首页</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/chineseearth.html">流浪地球计划</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/join.html">地下城抽签</a>
        <a href="https://mcxgjkh.github.io/UEG/templates/join2.html">English</a>
    </div>
    
    <img src="https://mcxgjkh.github.io/UEG/static/images/title1.png">

    <form action="/join_form">
        姓名：<input name="姓名">
        <br>
        年龄：<input name="年龄">
        <br>
        性别：<input type="radio" name="性别" value="男">男
              <input type="radio" name="性别" value="女">女
        <br>
        国家：<input name="国家">
        <br>
        <button>报名</button>
    </form>

</body>
</html>
