<!DOCTYPE html>
<html lang="en">
<head>
	<title>欢迎进入登录系统</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/css.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="/static/js/tilt.jquery.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="frame">
			<div class="left js-tilt">
				<h3>元宇宙工作室</h3>
				<img src="/static/images/img01.png">
			</div>
			
			<div class="right">
			    <h1>欢迎进入登录系统</h1>
				<h5>ladies and 乡亲们,让我们一起向未来go!go!go!</h5>
				<hr>
				<form  action="/proc_login" method="post">
					<div class="input_class">
						<span class="emoji">&#128587</span>
						<input name="user" required  placeholder="请输入你的用户名">
						<div class="focus"></div>
					</div>
					<div class="input_class">
						<span class="emoji">&#128272</span>
						<input type="password" name="pwd" required  placeholder="请输入你的密码">
						<div class="focus"></div>
					</div>
					<p>{{error}}</p>
					<button>登录</button>
				</form>

				<p>没有账号？</p>
				<a href="/register">立即注册</a>
			</div>
		</div>
	</div>
	
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
</body>
</html>
