<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UEG|新闻</title>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://mcxgjkh.github.io/static/css/news.css">
</head>
    <body>
        <!--导航-->
        <div class="up">
            <p>元宇宙工作室</p>
            <a href="/">首页</a>
            <a href="/join">加入我们</a>
            <a href="/show">作品展示</a>
            <a href="/member">成员信息</a>
        </div>
        
        <img src="/static/images/pic1.png" class="pic">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/show1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">QQ空间访客信息</h5>
                        <a href="https://code.xueersi.com/home/project/detail?lang=code&pid=31085627&version=offline&form=python&langType=python" class="btn btn-primary">点击预览</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/show2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">超级头像下载器</h5>
                        <a href="https://code.xueersi.com/home/project/detail?lang=code&pid=22343347&version=offline&form=python&langType=python" class="btn btn-primary">点击预览</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/show3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">心理测试</h5>
                        <a href="https://code.xueersi.com/home/project/detail?lang=code&pid=27404957&version=offline&form=python&langType=python" class="btn btn-primary">点击预览</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/show4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">夏日炎炎进来吹风</h5>
                        <a href="https://code.xueersi.com/home/project/detail?lang=code&pid=18975475&version=offline&form=python&langType=python" class="btn btn-primary">点击预览</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/show5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">奥特曼合体！</h5>
                        <a href="https://code.xueersi.com/home/project/detail?lang=code&pid=23525749&version=offline&form=python&langType=python" class="btn btn-primary">点击预览</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        


</body>
</html>
