<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作室成员表</title>
    <link href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/member.css">
</head>
<body>
    <!--导航-->
    <div class="up">
        <p>元宇宙工作室</p>
        <a href="/">首页</a>
        <a href="/join">加入我们</a>
        <a href="/show">作品展示</a>
        <a href="/member">成员信息</a>
    </div>
    
    <img src="/static/images/pic3.png">
    
    <div class="new">
        <h2>新成员报名信息</h2>
        <p>{{m}}</p>
    </div>
    
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">职位</th>
                <th scope="col">姓名</th>
                <th scope="col">QQ号</th>
                <th scope="col">跳转到该成员的网站</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p>室长</p></td>
                <td><p>奥特曼</p></td>
                <td><p>12345</p></td>
                <td><a href="https://code.xueersi.com/">点击跳转</a></td>
            </tr>
            <tr>
                <td><p>副室长</p></td>
                <td><p>加菲猫</p></td>
                <td><p>12345</p></td>
                <td><a href="https://code.xueersi.com/">点击跳转</a></td>
            </tr>
            <tr>
                <td><p>副室长</p></td>
                <td><p>小哪吒</p></td>
                <td><p>12345</p></td>
                <td><a href="https://code.xueersi.com/">点击跳转</a></td>
            </tr>
            <tr>
                <td><p>体育部长</p></td>
                <td><p>体育部</p></td>
                <td><p>12345</p></td>
                <td><a href="https://code.xueersi.com/">点击跳转</a></td>
            </tr>
            <tr>
                <td><p>外交部长</p></td>
                <td><p>外交部</p></td>
                <td><p>12345</p></td>
                <td><a href="https://code.xueersi.com/">点击跳转</a></td>
            </tr>
            <tr>
                <td><p>成员</p></td>
                <td><p>xxx</p></td>
                <td><p>12345</p></td>
                <td><a href="https://code.xueersi.com/">点击跳转</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
